WebApi2/obj/Debug/WebApi2.csprojResolveAssemblyReference.cache
WebApi2/obj/Debug/WebApi2.csproj.FileListAbsolute.txt
WebApi2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/config/applicationhost.config
WebApi2/obj/Debug/WebApi2.csproj.FileListAbsolute.txt
WebApi2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache